.container {
  height: 100%;
}

.center {
  position: absolute;
  left: 50%;
  top: 0;
}

.header {
  background-color: #eae7de;
  width: 100%;
  padding: 25px 30px;
  position: fixed;
  z-index: 10;
  top: 0;
}

.header1 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;

  display: inline-block;
}

.header2Left {
  font-size: 18px;
  font-weight: normal;
  margin: 0;

  display: inline-block;
  margin-left: 100px;
}

.header2Right {
  font-size: 18px;
  font-weight: normal;

  width: 322px;
  margin: 0;
  position: absolute;
  top: 24px;
  left: 361px;

  text-transform: uppercase;
}

.header2RightSm {
  display: none;
  text-transform: uppercase;
}

.offCanvas {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 342px;
  background-color: #b6c3c3;
  z-index: 20;
}

.offCanvasOpen {
  right: 0;
}

.offCanvasClosed {
  left: 100%;
}

.menuButton {
  cursor: pointer;
  width: 20px;
  height: 15px;
  padding: 8px;
  box-sizing: content-box;
  border: none;
  position: fixed;
  z-index: 30;
  top: 19px;
  right: 25px;
  background: transparent;
  outline: none;
}

.menuButtonActive {
  transform: rotate(90deg);
}

.menuButtonBar {
  background: black;
  width: 20px;
  height: 2px;
  position: absolute;
  left: 8px;
}

.menuButtonBar1 {
  top: 7px;
}

.menuButtonBar2 {
  top: 12px;
}

.menuButtonBar3 {
  top: 17px;
}

.menuButtonBar4 {
  top: 22px;
}

.siteNavPages {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  position: absolute;
  top: 111px;
  right: 33px;
}

.siteNavPageLink {
  display: block;
  line-height: 33px;
  font-size: 17px;
  text-transform: uppercase;
}

.contactLinks {
  text-align: right;
  position: absolute;
  bottom: 33px;
  right: 33px;
}

.contactLinks .link {
  font-size: 18px;
  line-height: 33px;
}

.link {
  text-decoration: underline;
}

.main {
  padding: 73px 0 300px;
  background-color: #F7F5F0;
}

.outerGutter {
  width: 1366px;
  margin: 0 auto;
  padding: 0 46px;
}

.innerGutter {
  padding: 0 68px;
  width: 998px;
}

.intro {
  margin: 0;
  font-size: 25px;
  line-height: 35px;
  padding-top: 60px;
  font-weight: 300;
}

.sidebarOuter {
  position: fixed;
  left: 50%;
  top: 0;
}

.sidebarInner {
  position: absolute;
  width: 276px;
  left: 361px;
  top: calc(73px + 60px);
}

.pageNavUl {
  text-transform: uppercase;
  line-height: 33px;
}

.floatCard {
  margin: 60px 0 0 0;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
}

.floatCardAnchor {
  position: absolute;
  top: -133px;
  visibility: hidden;
}

.floatCardImgWrapper {
  flex: 0 0 505px;
  margin-right: 30px;
  min-height: 302px;
}

.floatCardImg {
  display: block;
  color: transparent;
  background-size: cover;
  height: 100%;
  object-fit: cover;
  object-position: center left;
}

.floatCardText {
  margin: 0;
}

.splitSlider {
  width: 100%;
  height: auto;
  position: relative;
  user-select: none;
  cursor: col-resize;
}

.splitSliderActive {
  cursor: col-resize;
}

.splitSliderOuter {
  width: 100%;
  height: auto;
}

.splitSliderImg {
  width: 100%;
  height: auto;
  display: block;
}

.splitSliderInner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.splitSliderImgFg {
  object-fit: cover;
  object-position: left top;
  height: 100%;
  width: 100%;
  display: block;
}

.gallery {
  position: relative;
}

.gallery :global(.image-gallery-slide) {
  height: 100%;
}

.galleryImage {
  height: 100%;
  display: block;
  background-size: cover;
}

.gallery :global(.image-gallery) {
  position: relative;
  padding: 0;
  padding-top: 59.8%;
  box-sizing: content-box;
  height: 0;
}

.gallery :global(.image-gallery-content) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.galleryPrevButton, .galleryNextButton {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

.galleryPrevButton {
  left: 0;
  cursor: url("/Cursor_Prev.png") 16 16, e-resize;
}

.galleryNextButton {
  right: 0;
  cursor: url("/Cursor_Next.png") 0 16, e-resize;
}

.galleryDotNav {
  display: flex;
  justify-content: center;
  margin-top: 11px;
}

.galleryDot {
  flex: 8px 0 0;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 4px;
  height: 8px;
  padding: 0;
  margin: 3px;
  outline: none;
}

.galleryDotActive {
  background-color: black;
}

.galleryCard {
  margin-top: 100px;
  position: relative;
}

.galleryCardAnchor {
  position: absolute;
  top: -133px;
  visibility: hidden;
}

.galleryCardCaption {
  white-space: pre-wrap;
  margin: 0;
}

.referenzenIntro {
  margin: 20px 0 40px;
}

.portraitKontakt {
  display: none;
}

.portraitWerdegang {
  margin-top: 100px;
}

.portraitWerdegang ul {
  padding-left: 1em;
}

.portraitWerdegang li {
  padding-left: 0.4em;
}

.portraitWerdegang ::marker {
  content: '—';
}

.front {
  height: 100%;
  padding-bottom: 0;
}

.map {
  width: 100%;
  height: 100%;
  background-color: #cccccc;
  cursor: url("/Drag_Cursor.png") 11 11, move;
}

@media only screen and (max-width: 1365px) {
  .outerGutter {
    width: 998px;
    padding: 0;
  }

  .sidebarOuter {
    display: none;
  }

  .header .center {
    position: static;
  }

  .header2Right {
    width: auto;
    right: 85px;
    left: unset;
  }
}

@media only screen and (max-width: 997px){
  .header {
    padding: 21px 65px 18px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header .center {
    position: static;
  }

  .header1 {
    font-size: 15px;
    line-height: 22px;
  }

  .header2Left {
    font-size: 15px;
    line-height: 22px;
    margin-left: 0;
    display: block;
  }

  .header2Right {
    display: none;
  }

  .header2RightSm {
    display: block;
    margin: 0;
    font-size: 15px;
    line-height: 22px;
    font-weight: normal;
    width: auto;
    position: static;
    text-transform: uppercase;
  }

  .offCanvas {
    width: 100vw;
  }

  .siteNavPages {
    top: 126px;
    right: 24px;
  }

  .siteNavPageLink {
    font-size: 15px;
    line-height: 29px;
  }

  .contactLinks {
    bottom: 24px;
    right: 24px;
  }

  .contactLinks .link {
    font-size: 15px;
    line-height: 29px;
  }

  .outerGutter {
    width: auto;
    margin: 0;
    padding: 0;
  }

  .innerGutter {
    padding: 0 25px;
    width: 100%;
  }

  .menuButton {
    top: 15px;
    right: 16px;
  }

  .main {
    padding-top: 61px;
  }

  .sidebarOuter {
    display: none;
  }

  .intro {
    padding-top: 23px;
    font-size: 18px;
    line-height: 25px;
  }

  .floatCard {
    display: block;
  }

  .floatCardAnchor {
    top: -61px;
  }

  .floatCardImgWrapper {
    margin: 0;
    width: 100%;
    min-height: 0;
  }

  .floatCardImg {
    margin: 0 -25px 30px;
    width: calc(100% + 50px);
    height: auto;
  }

  .gallery {
    margin: 0 -25px;
    width: calc(100% + 50px);
  }

  .galleryDotNav {
    margin: 7px 0 9px;
  }

  .galleryCard {
    margin-top: 60px;
  }

  .portraitKontakt {
    display: block;
    margin-top: 60px;
  }

  .portraitWerdegang {
    margin-top: 60px;
  }

  .splitSlider {
    width: calc(100% + 50px);
    margin-left: -25px;
  }
}
